* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #616161;
  height: 100%;
}

h1, h2, h3, h4 {
  font-weight: bold;
  color: #000;
}

h2 {
  font-size: 40px;
}

.red {
  color: #EC5863;
}

.blue-text {
  color: #4285F4;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  max-width: 1087px;
  margin: 0px auto;
  padding: 0px 15px;
}

.button {
  border: none;
  background-color: #EC5863;
  color: #FCFDFE;
  outline: none;
  border-radius: 5px;
  padding: 12px 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 10px;
  cursor: pointer;
}

.button.blue {
  background-color: #4285F4;
}

.watch-button-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #4285F4;
  position: relative;
}

.watch-button-icon::after, .watch-button-icon::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: auto;
  content: '';
}

.watch-button-icon::after {
  border: 8px solid transparent;
  border-left: 13px solid #FCFDFE;
  margin-left: 17.5px;
  z-index: 10;
}

.watch-button-icon::before {
  border: 10px solid transparent;
  border-left: 16px solid #4285F4;
  margin-left: 16px;
  z-index: 5;
}

.watch-button-icon:hover {
  background-color: #4285F4;
}

[class*="__decorate"] {
  content: '';
  border-radius: 30px;
  position: absolute;
  background-color: #EC5863;
  z-index: -1;
}

.header {
  padding: 35px 0px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 60;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1px;
}

.header__logo img {
  height: 31px;
  width: 31px;
}

.header__logo h1 {
  font-size: 18px;
}

.header__logo span {
  color: #EC5863;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 40px;
}

.header__menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__menu .menu-list .menu__item a {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #000;
}

.header__download {
  padding-left: 121px;
}

.header .open-menu-btn {
  display: none;
  height: 15px;
  width: 28px;
  margin-left: auto;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
}

.header .open-menu-btn span, .header .open-menu-btn::after {
  bottom: 7px;
  position: absolute;
  content: '';
  background-color: #000;
  height: 2px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  width: 17px;
}

.header .open-menu-btn span {
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .open-menu-btn::after {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .open-menu-btn.active span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .open-menu-btn.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 650px) {
  .header .header__container {
    position: relative;
  }
  .header .header__container .header__menu {
    margin-right: 0px;
  }
  .header .header__container .header__logo {
    font-size: 14px;
  }
  .header .header__container .button {
    padding: 8px 17px;
    font-size: 9px;
  }
  .header .header__container .menu-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: -40px;
    width: 100%;
    right: 0;
    left: 0;
    display: none;
  }
  .header .header__container .menu-list.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .open-menu-btn {
    display: block;
  }
}

@media (max-width: 360px) {
  .header .header__download {
    padding-left: 9px;
  }
}

.get-started {
  background-color: #FAFBFD;
  overflow: hidden;
}

.get-started__container {
  padding-bottom: 50px;
  padding-top: 240px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 10px;
}

.get-started__container::before {
  z-index: 0;
  margin-right: 240px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  background-color: #EC5863;
  height: 100%;
  width: 100vw;
  border-radius: 30px;
  -webkit-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
}

.get-started-decoration {
  content: '';
  max-width: 550px;
}

.get-started-decoration img {
  width: 100%;
  -webkit-transform: translate(0px, -90px);
          transform: translate(0px, -90px);
  z-index: 20;
}

.get-started__contant {
  min-width: 400px;
  -webkit-box-flex: 1,;
      -ms-flex: 1, 1 ,auto;
          flex: 1, 1 ,auto;
}

.get-started__contant .contant__text {
  max-width: 375px;
  margin-top: 15px;
}

.get-started__contant .contant__button-get-started {
  margin-top: 20px;
}

.get-started__watch-button {
  margin-top: 150px;
}

.get-started__watch-button .watch-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-started__watch-button .watch-button__text p {
  color: #B0B0B0;
}

.get-started__watch-button .watch-button__text h5 {
  color: #000;
  font-size: 11px;
}

@media (max-width: 1087px) {
  [class*=__container] {
    max-width: 800px;
  }
  .header__download {
    padding-left: 60px;
  }
  .get-started__container::before {
    margin-right: 197px;
  }
  .get-started-decoration {
    max-width: 450px;
  }
  .get-started-decoration img {
    -webkit-transform: translate(0px, -20px);
            transform: translate(0px, -20px);
  }
}

.Stay-safe {
  padding-top: 20px;
  padding-bottom: 60px;
}

.Stay-safe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.Stay-safe__contant {
  min-width: 220px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 400px;
  margin: 0px auto;
}

.Stay-safe__contant__title {
  margin-bottom: 10px;
}

.Stay-safe__contant__text {
  margin-bottom: 17px;
}

.Stay-safe .mobile-img {
  margin-top: 70px;
}

.Stay-safe .mobile-img img {
  width: 100%;
  max-width: 340px;
}

@media (max-width: 830px) {
  .Stay-safe__container {
    display: block;
  }
  .Stay-safe__contant {
    text-align: center;
  }
  .Stay-safe .mobile-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .Stay-safe .mobile-img img {
    position: relative;
    right: 0;
    left: 0;
    margin: 0px auto;
  }
}

.experts-section {
  padding: 105px 0px;
  background-color: #FCFDFE;
}

.experts-section .numbers-block {
  max-width: 650px;
  margin: 0px auto;
  margin-bottom: 70px;
  position: relative;
  z-index: 2;
}

.experts-section .numbers-block__body {
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  max-width: 510px;
  background-color: #fff;
  padding: 28px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border-radius: 16px;
  z-index: 2;
  gap: 15px;
}

@media (max-width: 620px) {
  .experts-section .numbers-block__body {
    padding: 28px 40px;
  }
}

.experts-section .numbers-block__item {
  text-align: center;
}

.experts-section .numbers-block__item h3 {
  font-size: 35px;
  color: #EC5863;
}

.experts-section .numbers-block__decorate-1 {
  width: 65px;
  height: 65px;
  left: -20px;
  bottom: -20px;
  border-radius: 16px !important;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.experts-section .numbers-block__decorate-2 {
  width: 100px;
  height: 100px;
  left: 31%;
  top: -40px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.experts-section .numbers-block__decorate-3 {
  width: 127.47px;
  height: 127.47px;
  right: -40px;
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

@media (max-width: 470px) {
  .experts-section .numbers-block {
    max-width: 80%;
  }
  .experts-section .numbers-block__decorate-2 {
    left: 15%;
  }
  .experts-section .numbers-block__body {
    row-gap: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.experts-section__contant__text-block {
  margin-top: 80px;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.experts-section .text-block__contant {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.experts-section .text-block__contant__text-block__title {
  margin-bottom: 14px;
}

.experts-section .text-block__contant__text-block__text {
  margin-bottom: 24px;
  max-width: 360px;
}

.experts-section iframe {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  max-width: 521px;
}

.experts-section .video-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 0 26% 0;
  position: relative;
}

.Healthcare {
  padding: 70px 0px;
}

.Healthcare__text-contant {
  text-align: center;
}

.Healthcare__text-contant__text {
  max-width: 600px;
  margin: 0px auto;
  margin-top: 15px;
}

.Healthcare__cards {
  gap: 15px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Healthcare__cards__item-wrapper {
  position: relative;
  max-width: 240px;
  width: 100%;
}

.Healthcare__cards__item {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 25px 40px 25px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  text-align: center;
}

.Healthcare__cards__item img {
  height: 72px;
  max-width: 64px;
  margin: 0px auto;
}

.Healthcare__cards__item .card-contant {
  margin-top: 50px;
}

.Healthcare__cards__item .card-contant h3 {
  font-size: 16px;
}

.Healthcare__cards__item .card-contant__text {
  margin-top: 5px;
}

.Healthcare .card__decorate-4 {
  width: 65.75px;
  height: 65.75px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: -20px;
  top: -35px;
  border-radius: 16px;
}

.Healthcare .card__decorate-3 {
  width: 127.47px;
  height: 127.47px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  bottom: -30px;
  right: -74px;
}

.Healthcare .card__decorate-2 {
  height: 96px;
  width: 96px;
  right: -50px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  top: 30px;
}

.Healthcare .card__decorate-1 {
  height: 65px;
  width: 65px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  bottom: -30px;
  left: -15px;
}

@media (max-width: 680px) {
  .Healthcare__cards {
    display: block;
  }
  .Healthcare__cards__item-wrapper {
    margin: 0px auto;
    margin-top: 20px;
  }
  .Healthcare .card__decorate-4 {
    top: 50%;
    right: 0;
    left: -20px;
  }
}

.footer {
  padding-bottom: 40px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 56px;
  row-gap: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container .gp {
  height: 55px;
}

.footer__container .as {
  height: 66px;
}

@media (max-width: 830px) {
  [class*=__container] {
    max-width: none;
  }
  .experts-section__contant__text-block {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    row-gap: 30px;
  }
  .experts-section__contant__text-block .text-block__contant__text-block__text {
    max-width: 100%;
  }
  .experts-section__contant__text-block .video-box {
    padding: 0 0 56.5% 0 !important;
  }
  .experts-section__contant__text-block iframe {
    max-width: 100%;
  }
  .header__download {
    padding-left: 20px;
  }
  .header__menu {
    margin-right: 30px;
  }
  .header__menu .menu-list {
    gap: 15px;
  }
  .get-started__container::before {
    display: none;
  }
  .get-started__container {
    display: block;
    padding-top: 180px;
  }
  .get-started-decoration {
    margin: 0px auto;
  }
  .get-started__contant {
    text-align: center;
    max-width: 100%;
  }
  .get-started__contant .contant__text {
    max-width: 100%;
  }
  h2 {
    font-size: 30px;
  }
  .get-started__watch-button {
    margin-top: 80px;
  }
}

@media (max-width: 490px) {
  .get-started__contant {
    min-width: 100%;
  }
  h2 {
    font-size: 25px;
  }
  .experts-section .numbers-block__decorate-3 {
    bottom: 30%;
    top: 10%;
  }
}
/*# sourceMappingURL=index.css.map */