*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
$redColor: #EC5863;
$blueColor: #4285F4;
$whiteTextColor: #FCFDFE;

li{
    list-style-type: none;
}
a{color: inherit;}
body{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #616161;
    height: 100%;
}
h1,h2,h3,h4{
    font-weight: bold;
    color: #000;
}
h2{
    font-size: 40px;
}
.red{
    color: $redColor;
}
.blue-text{
    color: $blueColor;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
[class*=__container]{
    max-width: 1087px;
    margin: 0px auto;
    padding: 0px 15px;
}
.button{
    border: none;
    background-color: $redColor;
    color: $whiteTextColor;
    outline: none;
    border-radius: 5px;
    padding: 12px 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 10px;
    cursor: pointer;
    &.blue{
        background-color: $blueColor;
    }
}
.watch-button-icon{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #4285F4;
    position: relative;
    &::after,&::before{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        margin: auto;
        content: '';
    }
    &::after{
        border: 8px solid transparent;
        border-left: 13px solid $whiteTextColor;
        margin-left: 17.5px;
        z-index: 10; 
    }
    &::before{
        border: 10px solid transparent;
        border-left: 16px solid #4285F4;
        margin-left: 16px;
        z-index: 5;
    }
    &:hover{
        background-color: $blueColor;
    }
}









.header{
    padding: 35px 0px 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 60;

    &__container{

        display: flex;
        align-items: center;
    }
    &__logo{
        margin-right: 10px;
        display: flex;
        align-items: center;
        gap: 1px;
        
        img{
            height: 31px;
            width: 31px;
        }
        h1{
            font-size: 18px;
        }
        span{
            color: $redColor;
        }
    }
    &__menu{
        flex: 1 1 auto;
        margin-right: 40px;
        .menu-list{
            display: flex;
            align-items: center;
            gap: 40px;
            justify-content: end;
            
            .menu__item{
                a{
                    font-family: 'Raleway', sans-serif;
                    font-weight: bold;
                    font-size: 10px;
                    color: #000;
                }
            }
            
        }
    }
    &__download{
        padding-left: 121px;
        
    }
}
.careHealth{
    background-color: #FAFBFD;
    overflow: hidden;
    &__container{
        padding-bottom: 50px;
        padding-top: 240px;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        &::before{
            z-index: 0;
            margin-right: 240px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            content: '';
            background-color: $redColor;
            height: 100%;
            width: 100vw;
            border-radius: 30px;
            transform: translate(100% , 0px);
        }
    }
    &-decoration{
        content: '';
        max-width: 550px;
        img{
            width: 100%;
            transform: translate(0px , -90px);
            z-index: 20;
        }  
    }
    &__contant{
        min-width: 400px;
        flex:  1, 1 ,auto;
        .contant__text{
            max-width: 375px;
            margin-top: 15px;
            
        }
        .contant__button-get-started{
            margin-top: 20px;
        }
    }
    &__watch-button{
        margin-top: 150px;

        .watch-button{
            display: flex;
            gap: 10px;
            align-items: center;
        }
        .watch-button-icon{
            
        }
        .watch-button__text{
            p{
                color: #B0B0B0;
            }
            h5{
                color: #000;
                font-size: 11px;
            }
        }
    }
    
}
@media (max-width: 1087px) {
    [class*=__container]{
        max-width: 800px;
    }
    .header__download{
        padding-left: 60px;
        
    }
    .careHealth__container::before{
        margin-right: 197px;
    }
    .careHealth-decoration{
        max-width: 450px;
        img{
            transform: translate(0px , -20px);
        }
    }
}
.Stay-safe{
    padding-top: 20px;
    padding-bottom: 60px;
    &__container{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    &__contant{
        min-width: 220px;
        flex: 1 1 auto;
        max-width: 400px;
        margin: 0px auto;
        &__title{
            margin-bottom: 10px;
        }
        &__text{
            margin-bottom: 17px;
        }
    }

    .mobile-img{
        margin-top: 70px;
        img{
            width: 100%;
            max-width: 340px;
        }
    }
    @media (max-width: 830px){
        &__container{
            display: block;
        }
        &__contant{
            text-align: center;
        }
        .mobile-img{
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            img{
                position: relative;
                right: 0;
                left: 0;
                margin: 0px auto;
            }
        }
    }
}
.experts-section{
    
    padding: 105px 0px;
    background-color: #FCFDFE;
    &__container{

    }
    .numbers-block{
        max-width: 650px;
        margin: 0px auto;
        margin-bottom: 70px;
        position: relative;
        z-index: 2;
        &__body{
            box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
            max-width: 510px; 
            background-color: #fff;
            padding: 28px 70px;
            display: flex;
            justify-content: space-between;
            position: relative;
            border-radius: 16px;
            z-index: 2;
            gap: 15px;
            @media (max-width: 620px) {
                &{
                    padding: 28px 40px;
                }
            }
        }
        &__item{
            text-align: center;
            h3{
                font-size: 35px;
                color: $redColor;
            }
            h4{
                
            }
        }
        [class*="__decorate"]{
            content: '';
            border-radius: 30px;
            position: absolute;
            background-color: $redColor;
            z-index: -1;
        }
        &__decorate-1{
            width: 65px;
            height: 65px;
            left: -20px;
            bottom: -20px;
            border-radius: 16px !important;
            transform: rotate(-30deg);
        }
        &__decorate-2{
            width: 100px;
            height: 100px;
            left: 31%;
            top: -40px;
            transform: rotate(15deg);
        }
        &__decorate-3{
            width: 127.47px;
            height: 127.47px;
            right: -40px;
            top: 0;
            bottom: 0;
            transform: rotate(-30deg);
        }
        @media (max-width: 470px) {
            &{
                max-width: 80%;
                &__decorate-2{
                    left: 15%;
                }
            }
            &__body{
                row-gap: 25px;
                flex-direction: column;

                
            }
        }
        
    }
    &__contant__text-block{
        margin-top: 80px;
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .text-block__contant{
        &__text-block__title{
            margin-bottom: 14px;
        }
        &__text-block__text{
            margin-bottom: 24px;
            max-width: 360px;
        }
        &__text-block__btn{

        }

    }
    video{
        background: #FFFFFF;
        box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
        border-radius: 8px;
        max-width: 500px;
        width: 100%;
        max-height: 284px;
    }
}




@media (max-width: 830px) {

    [class*=__container]{
        max-width: none;
    }
    .experts-section__contant__text-block{
        text-align: center;
        flex-direction: column;
        .text-block__contant__text-block__text{
            max-width: 100%;
        }
        video{
            margin: 0px auto;
            margin-top: 10px;
        }
    }
    .header__download{
        padding-left: 20px;
    }
    .header__menu{
        margin-right: 30px;
        .menu-list{
            gap: 15px;
        }
    }
    .careHealth__container::before{
        display: none;
    }
    .careHealth__container{
        display: block;
        padding-top: 180px;

    }
    .careHealth-decoration{
        margin: 0px auto;
    }
    .careHealth__contant{
        text-align: center;
        max-width: 100%;
        .contant__text{
            max-width: 100%;
        }
    }
    h2{
       font-size: 30px; 
    }
    .careHealth__watch-button{
        margin-top: 80px;
    }
}
@media (max-width: 490px) {
    .careHealth__contant{
        min-width: 100%; 
    }
    h2{
        font-size: 25px;
    }
    .experts-section .numbers-block__decorate-3{
        bottom: 30%;
        top: 10%;
    }
}